.hidden{
    display: none;
}

h2{
    font-size: 50px;
}
=======






#h5{align-items: center;}



#body{
    margin: 0 auto;
    background-color: whitesmoke;
}


#main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}



footer{
=======
#Icons {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

#icon-1,#icon-2,#icon-3,#icon-4, #icon-5,#icon-6{
    width: 250px;
}


#icons-set{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 300px;
    margin: auto;
}

#icon-3{
    width: 200;
}

#Icons h4 {
    font-size: 28px;
    font-weight: 400;
}

  footer{

    max-width: 360px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    opacity: .80;
}

.object{
    width: 500px;
    margin-bottom: 30px;
}

svg {
        max-width: 300px;
        margin: 0 auto 40px auto;
        display: block;
    }
    

