.hidden{
    display: none;
}

h2{
    font-size: 50px;
}


#body{
    margin: 0 auto;
    background-color: whitesmoke;
}


#main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}



footer{
    max-width: 360px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    opacity: .60;
}

.object{
    width: 500px;
    margin-bottom: 30px;
}


    

